.git
vendor
web/sites/default/files
.github
.env
docker-compose.yml

/drush/contrib/
/vendor/
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/
/web/libraries/

/web/sites/*/files/

/.idea/
*.sql
